@model IEnumerable<PassQuestions.Models.examyear>

@{
    ViewBag.Title = "Index";
    int sn = 0;
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title"> EXAM YEAR </h4>
                <a href="@Url.Action("create","examyears")" class="btn btn-success">Create New Exam Year</a>
                <br />
                <br />

                <table id="datatable-buttons"
                       class="table table-striped table-bordered dt-responsive nowrap"
                       style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Examyear</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    <tbody>
                        @foreach (var item in Model.OrderBy(p => p.year))
                        {
                            sn++;
                            <tr>
                                <td>
                                    @sn
                                </td>
                                <td>
                                    <a href="@Url.Action("Details/"+item.id,"examyears")">
                                        @item.year
                                    </a>
                                </td>
                                <td>@item.description</td>
                                <td>
                                    <a href="@Url.Action("Edit", "examyears", new { id = item.id })">
                                        <i class="fa fa-edit btn btn-info btn-sm"></i>
                                    </a> |
                                    <a href="@Url.Action("Details", "examyears", new { id = item.id })">
                                        <i class="fa fa-info btn btn-success btn-sm"></i>
                                    </a> |
                                    <a href="@Url.Action("Delete", "examyears", new { id = item.id })">
                                        <i class="fa fa-trash btn btn-danger btn-sm"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end col -->
</div>
<!-- end row -->