@model PassQuestions.Models.B_booking

@{
    ViewBag.Title = "paynow";
    PassQuestions.Models.pastquestionEntities db = new PassQuestions.Models.pastquestionEntities();
    string userid = Session["userid"].ToString();
    var user = db.useraccounts.Find(userid);
    var fee = db.F_settings.Find(Model.feeid);
    string id = "PAST-"+ Model.id + "-" + PassQuestions.Setup.GenerateID.GetID();
}
 
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="col-lg-12">
                    <div class="card border border-danger">
                        <div class="card-header bg-transparent border-danger">
                            <h5 class="my-0 text-danger text-center">
                                <i class="mdi mdi-block-helper me-3"></i>
                                PAYMENT GATEWAY
                            </h5>
                        </div>
                        <div class="card-body text-center">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="panel panel-default"> 
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <div id="PrintPage" style="margin: 0px; padding: opx; padding-bottom:0px;">
                                                    <h3 class="text-center ">*****Past Question*****</h3>
                                                    <h3 class="text-center ">*****NOT PAID*****</h3>
                                                    <h3 class="text-center">*********************************</h3>
                                                    <h4 class="text-center">---------------------------</h4>
                                                    <table class="table" style="margin: 0px; padding: opx; padding-bottom:0px;">
                                                        <tr>
                                                            <td colspan="2">
                                                                <label>
                                                                    Transaction ID:
                                                                </label>
                                                            </td>
                                                            <td colspan="2">
                                                                <label>
                                                                    @Model.id
                                                                </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                <label>
                                                                    Amount:
                                                                </label>
                                                            </td>
                                                            <td colspan="2">
                                                                <label>
                                                                    @Model.amount
                                                                </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                <label>
                                                                    Customer:
                                                                </label>
                                                            </td>
                                                            <td colspan="2">
                                                                <label>
                                                                    @Model.name
                                                                </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                <label>
                                                                    Phone:
                                                                </label>
                                                            </td>
                                                            <td colspan="2">
                                                                <label>
                                                                    @Model.phone
                                                                </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                <label>
                                                                    Email:
                                                                </label>
                                                            </td>
                                                            <td colspan="2">
                                                                <label>
                                                                    @Model.email
                                                                </label>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="2">
                                                                <label>
                                                                    Exam Year:
                                                                </label>
                                                            </td>
                                                            <td colspan="2">
                                                                <label>
                                                                    @fee.examyear.year:
                                                                </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                <label>
                                                                    Exam Type:
                                                                </label>
                                                            </td>
                                                            <td colspan="2">
                                                                <label>
                                                                    @fee.examtype.type:
                                                                </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                <label>
                                                                    Amount:
                                                                </label>
                                                            </td>
                                                            <td colspan="2">
                                                                <label>
                                                                    @Model.amount
                                                                </label>
                                                            </td>
                                                        </tr>
                                                        @*<tr>
            <td colspan="2">
                <label>
                    Address:
                </label>
            </td>
            <td colspan="2">
                <label>
                    @Model.
                </label>
            </td>
        </tr>*@
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <center>
                                                <script>
                        //Save Complains
                        $(function () {
                            $("#btnPost").click('submit', function (e) {
                                        @*$(location).attr("href", "@Url.Action("Sale","Sales")");*@
                                    })
                        })
                                                </script>
                                                <hr />
                                                <div class="col-md-12">
                                                    @{
                                                        //decimal price = Convert.ToDecimal(TotalAmount * 100);
                                                    }
                                                    @*<form action="@Url.Action("InitilizePayment","Booking")" method="post">
                                    <input type="hidden" name="name" value="@Model.name" />
                                    <input type="hidden" name="email" value="@Model.email" />
                                    <input type="hidden" name="phone" value="@Model.phone" />
                                    <input type="hidden" name="id" value="@Model.id" />
                                    <input type="hidden" name="amount" value="@price" />
                                    <button class="btn btn-info">Pay Now</button>
                                </form>*@
                                                    <i>
                                                        Please don't close the payment window, when it comes up. Once payment is completed, it will display your ticket.
                                                    </i>
                                                    <br />
                                                    <button class="btn btn-success btn-line" onclick="payWithPaystack()">
                                                        <i class="icon icon-print"></i>
                                                        Click Here to Pay Now
                                                    </button>
                                                </div>

                                                @*<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>*@

                                                @{
                                                    decimal amt = Convert.ToDecimal(Model.amount * 100);
                                                }

                                                <script src="https://js.paystack.co/v1/inline.js"></script>

                                                <script>

                                function payWithPaystack() {
                                    var handler = PaystackPop.setup({
                                        key: 'pk_test_7f51e0f1c7dcfd355f1d5971b46ff910e7128de1',//  //put your public key here
                                        email: '@Model.email', //put your customer's email here
                                        amount: @amt, //amount the customer is supposed to pay
                                        //logo: 'https://subwangxpress.com.ng/Content/images/sublogo.jpeg',
                                        //split_code: 'SPL_bbucPKfijl',
                                        ref: '@Model.id',
                                        metadata: {
                                            custom_fields: [
                                                {
                                                    display_name: "Mobile Number",
                                                    variable_name: "mobile_number",
                                                    value: '+234' + '@Model.phone' //"+2348137243528" //customer's mobile number
                                                },
                                                {
                                                    display_name: "Customer Name",
                                                    variable_name: "customer_name",
                                                    value:  '@Model.name' //customer's name
                                                },
                                            ]
                                        },
                                        callback: function (response) {
                                            //console.log(response);
                                            //after the transaction have been completed
                                            //make post call  to the server with to verify payment
                                            //using transaction reference as post data
                                           
                                            var values =
                                            {
                                                bookingid: "@Model.id",
                                                id: "@id",
                                                trnxid: response.transaction,
                                                amountpaid: @Model.amount,
                                                paid_by: '@Model.email',
                                                pay_email: '@Model.email',
                                                pay_phone: '@Model.phone',
                                                pay_examtype: '@Model.examtype',
                                                pay_examyear: '@Model.examyear',
                                                pay_status: response.status,
                                                ref_no: response.trxref,
                                                gateway_ref: response.reference,
                                                currency: "NGN"
                                            };

                                            $.ajax({
                                                url: "@Url.Action("paynow")",
                                                type: "post",
                                                data: values,
                                                success: function (response) {
                                                    // You will get response from your PHP page (what you echo or print)
                                                    //alert(response.responseText);
                                                    console.log(response);
                                                    window.location.replace("@Url.Action("receipt/" +  id, "payments")");


                                                },
                                                error: function(jqXHR, textStatus, errorThrown) {
                                                    console.log(textStatus, errorThrown);
                                                }
                                            });
                                        },
                                        onClose: function () {
                                            //when the user close the payment modal
                                            alert('Transaction cancelled');
                                        }
                                    });
                                    handler.openIframe(); //open the paystack's payment modal
                                }
                                                </script>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>