@model PassQuestions.Models.payment

@{
    ViewBag.Title = "receipt";
}
 

@*<div>
    <h4>payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trxid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trxid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenxdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenxdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gatewayref)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gatewayref)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ptype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ptype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.insertuser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.insertuser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_settings.examyearid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_settings.examyearid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.useraccount.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.useraccount.name)
        </dd>

    </dl>
</div>*@





<div id="page-wrapper">
    <div class="main-page">
        <div class="row">

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <!-- START PANEL WITH CONTROL CLASSES -->
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Past Question payment</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <div id="PrintPage" style="margin: 0px; padding: opx; padding-bottom:0px;">                                            
                                            <h3 class="text-center ">*****Past Question*****</h3>
                                            <h3 class="text-center ">*****NOT PAID*****</h3>
                                            <h3 class="text-center">*********************************</h3>
                                            <h4 class="text-center">---------------------------</h4>
                                            <table class="table" style="margin: 0px; padding: opx; padding-bottom:0px;">
                                                @*<tr>
                                                        <td colspan="2">
                                                            <label>
                                                                Transaction ID:
                                                            </label>
                                                        </td>
                                                        <td colspan="2">
                                                            <label>
                                                                @Model.id
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <label>
                                                                Date:
                                                            </label>
                                                        </td>
                                                        <td colspan="2">
                                                            <label>
                                                                @Model.insertdate
                                                            </label>
                                                        </td>
                                                    </tr>*@
                                                <tr>
                                                    <td colspan="2">
                                                        <label>
                                                            Customer:
                                                        </label>
                                                    </td>
                                                    <td colspan="2">
                                                        <label>
                                                            @Model.name
                                                        </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <label>
                                                            Phone:
                                                        </label>
                                                    </td>
                                                    <td colspan="2">
                                                        <label>
                                                            @Model.phone
                                                        </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <label>
                                                            Email:
                                                        </label>
                                                    </td>
                                                    <td colspan="2">
                                                        <label>
                                                            @Model.email
                                                        </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <label>
                                                            Address:
                                                        </label>
                                                    </td>
                                                    @*<td colspan="2">
                                                        <label>
                                                            @Model.address
                                                        </label>
                                                    </td>*@
                                                </tr>
                                                
                                                <tr class="success">
                                                    <th>
                                                        Item
                                                    </th>
                                                    <th>
                                                        Unit Price
                                                    </th>
                                                    <th>
                                                        Quantity
                                                    </th>
                                                    <th>
                                                        Amount(&#8358)
                                                    </th>
                                                </tr>
                                                @*<tr>
                                                    <td>Adult</td>
                                                    <td>@Model.unitAdult</td>
                                                    <td>@Model.adult</td>
                                                    <td>@Model.totalAdult</td>

                                                </tr>
                                                <tr>
                                                    <td>Children</td>
                                                    <td>@Model.unitChild</td>
                                                    <td>@Model.children</td>
                                                    <td>@Model.totalChild</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">
                                                        @{
                                                            Decimal amt = Convert.ToDecimal(Model.totalAdult - (Model.padult / 100) * Model.totalAdult);

                                                            Decimal camt = Convert.ToDecimal(Model.totalChild - (Model.pchild / 100) * Model.totalChild);
                                                            TotalAmount = Convert.ToDecimal(amt + camt);
                                                            Discount = Convert.ToDecimal(Model.totalAdult + Model.totalChild) - (amt + camt);
                                                        }
                                                        <strong>Discount Amount(N)</strong>
                                                    </td>
                                                    <td>
                                                        <strong class="text-bold">
                                                            @String.Format("{0:#,#.00}", Discount)
                                                        </strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">
                                                        <h3>Amount Paid</h3>
                                                    </td>
                                                    <td>
                                                        <h3 class="text-bold">
                                                            @String.Format("{0:#,#.00}", TotalAmount)
                                                        </h3>
                                                    </td>*@
                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel">
                                <div class="panel-body">
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <center>
                                        <script>
                        //Save Complains
                        $(function () {
                            $("#btnPost").click('submit', function (e) {
                                        @*$(location).attr("href", "@Url.Action("Sale","Sales")");*@
                                    })
                        })
                                        </script>
                                        <hr />
                                        <div class="col-md-12">
                                            @{
//decimal price = Convert.ToDecimal(TotalAmount * 100);
                                            }
                                            @*<form action="@Url.Action("InitilizePayment","Booking")" method="post">
                                                    <input type="hidden" name="name" value="@Model.name" />
                                                    <input type="hidden" name="email" value="@Model.email" />
                                                    <input type="hidden" name="phone" value="@Model.phone" />
                                                    <input type="hidden" name="id" value="@Model.id" />
                                                    <input type="hidden" name="amount" value="@price" />
                                                    <button class="btn btn-info">Pay Now</button>
                                                </form>*@
                                            <i>
                                                Please don't close the payment window, when it comes up. Once payment is completed, it will display your ticket.
                                            </i>
                                            <br />
                                            <button class="btn btn-success btn-line" onclick="payWithPaystack()">
                                                <i class="icon icon-print"></i>
                                                Click Here to Pay Now
                                            </button>
                                        </div>

                                        @*<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>*@

                                        @{ 
                                            decimal amt = Convert.ToDecimal( Model.amount * 100);
                                        }

                                        <script src="https://js.paystack.co/v1/inline.js"></script>

                                        <script>

                                function payWithPaystack() {
                                    var handler = PaystackPop.setup({
                                        key: 'pk_test_7f51e0f1c7dcfd355f1d5971b46ff910e7128de1',//  //put your public key here
                                        email: '@Model.email', //put your customer's email here
                                        amount: @amt, //amount the customer is supposed to pay
                                        //logo: 'https://subwangxpress.com.ng/Content/images/sublogo.jpeg',
                                        //split_code: 'SPL_bbucPKfijl',
                                        ref: '@Model.id',
                                        metadata: {
                                            custom_fields: [
                                                {
                                                    display_name: "Mobile Number",
                                                    variable_name: "mobile_number",
                                                    value: '+234' + '@Model.phone' //"+2348137243528" //customer's mobile number
                                                },
                                                {
                                                    display_name: "Customer Name",
                                                    variable_name: "customer_name",
                                                    value:  '@Model.name' //customer's name
                                                },
                                            ]
                                        },
                                        callback: function (response) {
                                            //console.log(response);
                                            //after the transaction have been completed
                                            //make post call  to the server with to verify payment
                                            //using transaction reference as post data
                                            var values =
                                            {
                                                @*bookingid: "@Model.id",
                                                id: "SPLASH-@Model.id-@Splashwaterpark.Setup.GenerateID.GetID()",
                                                trnxid: response.transaction,
                                                amountpaid: @TotalAmount,
                                                paid_by: '@Model.email',
                                                pay_email: '@Model.email',
                                                pay_phone: '@Model.phone',
                                                pay_status: response.status,
                                                ref_no: response.trxref,
                                                gateway_ref: response.reference,
                                                currency: "NGN"*@
                                            };

                                            $.ajax({
                                                url: "@Url.Action("payments")",
                                                type: "post",
                                                data: values,
                                                success: function (response) {
                                                    // You will get response from your PHP page (what you echo or print)
                                                    //alert(response.responseText);
                                                    console.log(response);
                                                    window.location.replace("@Url.Action("Ticket/"+ Model.id, "booking")");
                                                },
                                                error: function(jqXHR, textStatus, errorThrown) {
                                                    console.log(textStatus, errorThrown);
                                                }
                                            });
                                        },
                                        onClose: function () {
                                            //when the user close the payment modal
                                            alert('Transaction cancelled');
                                        }
                                    });
                                    handler.openIframe(); //open the paystack's payment modal
                                }
                                        </script>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PANEL WITH CONTROL CLASSES -->
            </div>
        </div>
    </div>
</div>