@model IEnumerable<PassQuestions.Models.question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.names)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.examyear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.examtype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.insertdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subject.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.names)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.examyear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.examtype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.insertdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subject.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
