<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div class="h-100">

        <div class="user-wid text-center py-4">
            <div class="user-img">
                @*<img src="~/Content/Qovex/assets/images/users/avatar-2.jpg" alt="" class="avatar-md mx-auto rounded-circle">*@
                <a href="@Url.Action("Index","Home")">
                    <b class="logo-icon">
                        <!-- Dark Logo icon -->
                        <img src="~/Content/img/logo.jpg" height="100px" width="100px" alt="homepage" class="dark-logo" />
                     </b>                    
                </a>
            </div>

            <div class="mt-3">
                <a href="" class="text-dark fw-medium font-size-16">@Session["email"]</a>
                <p class="text-body mt-1 mb-0 font-size-13">WELLCOME</p>
                <a href="@Url.Action("Index","Home")"
                   class="btn btn-primary fw-medium font-size-16">
                    <i class="mdi mdi-home"></i>
                    <span>DASHBOARD</span>
                </a>
             </div>
        </div>    
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                @if (Session["usertype"] == null)
                {

                }
                else
                {
                    string usertype = Session["usertype"].ToString();
                    if (usertype == "")
                    {

                    }
                    else
                    if (usertype == "CASH")
                    {
                        <li class="menu-title">FEES CASHIER</li>
                        @*<li>
                 <a class="waves-effect" href="@Url.Action("Index","Feestypes")"
                 aria-expanded="false">
                <i class="mdi mdi-checkbox-multiple-blank-outline"></i><span class="hide-menu">Fee Types</span>
                 </a>
                </li>*@
                        <li>
                            <a class="waves-effect" href="@Url.Action("Payment","Payments")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline"></i>
                                <span>Payment</span>
                            </a>
                        </li>
                        <!--<li>
            <a class="waves-effect" href="@Url.Action("UserPayments","Payments")">
                <i class="mdi mdi-checkbox-multiple-blank-outline"></i><span class="hide-menu">Payment</span>
            </a>
            </li>-->
                        <li>
                            <a class="waves-effect" href="@Url.Action("PaymentReports","Payments")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline"></i><span>Payment Report</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect" href="@Url.Action("PaymentReportbyItem","Payments")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline"></i><span>Payment Report Items</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect" href="@Url.Action("CashIndex","BusPayments")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline"></i><span>Bus Fees </span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect" href="@Url.Action("PaymentBalance","BusPayments")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline"></i><span>Bus Fees Balance </span>
                            </a>
                        </li>
                    }
                    else
                        if (usertype == "ADMIN")
                    {
                        <li class="menu-title">Questions</li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("PersonelFiles","Questions")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    PersonelFiles
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("Index","F_settings")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    Fee Setting
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("Index","questions")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    Question
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect" href="@Url.Action("Index","subjects")"
                               aria-expanded="false">
                                <i class="mdi mdi-checkbox-multiple-blank-outline"></i><span>  subject</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect" href="@Url.Action("Index","examtypes")"
                               aria-expanded="false">
                                <i class="mdi mdi-checkbox-multiple-blank-outline"></i><span>Exam Type</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect" href="@Url.Action("Index","examyears")"
                               aria-expanded="false">
                                <i class="mdi mdi-checkbox-multiple-blank-outline"></i><span>Exam Year</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect" href="@Url.Action("payments","payments")"
                               aria-expanded="false">
                                <i class="mdi mdi-checkbox-multiple-blank-outline"></i><span>Payments</span>
                            </a>
                        </li>

                    }
                    else
                     if (usertype == "TEACHER")
                    {

                        <li class="menu-title">FORM TEACHER</li>

                        <li>
                            <a class="waves-effect" href="@Url.Action("scoresheet","academics")"
                               aria-expanded="false">
                                <i class="mdi mdi-checkbox-multiple-blank-outline"></i><span>ScoreSheet</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect" href="@Url.Action("Index","studentclasses")"
                               aria-expanded="false">

                                <i class="mdi mdi-checkbox-multiple-blank-outline"></i><span>Student Classes</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect" href="@Url.Action("Index","Schoolclasses")"
                               aria-expanded="false">
                                <i class="mdi mdi-checkbox-multiple-blank-outline"></i><span>Classes</span>
                            </a>
                        </li>
                        @*<li>
                    <a class="waves-effect" href="@Url.Action("uploadResultNewSheet","academics")"
                       aria-expanded="false">
                        <i class="mdi mdi-checkbox-multiple-blank-outline"></i><span class="hide-menu">Upload New Sheet</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("ScoreSheet","academics")"
                       aria-expanded="false">
                        <i data-feather="calendar" class="feather-icon"></i><span class="hide-menu">Score Sheets</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("Index","schoolclasses")"
                       aria-expanded="false">
                        <i class="mdi mdi-checkbox-multiple-blank-outline"></i><span class="hide-menu">Classes</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("Index","classcourses")"
                       aria-expanded="false">

                        <i class="mdi mdi-checkbox-multiple-blank-outline"></i><span class="hide-menu">Classes Courses</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("Index","studentclasses")"
                       aria-expanded="false">

                        <i class="mdi mdi-checkbox-multiple-blank-outline"></i><span class="hide-menu">Student Classes</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("Index","Courses")"
                       aria-expanded="false">
                        <i class="mdi mdi-checkbox-multiple-blank-outline"></i><span class="hide-menu">Courses</span>
                    </a>
                </li>*@
                    }
                }
                <hr />
                <li>
                    <a class="waves-effect" href="@Url.Action("Login","UserAccounts")"
                       aria-expanded="false">
                        <i class="mdi mdi-checkbox-multiple-blank-outline"></i><span>Logout</span>
                    </a>
                </li>
            </ul> 
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->