@model PassQuestions.Models.useraccount

@{
    ViewBag.Title = "ResetPassword";
}

@*<form method="post" action="">
        <strong>Name</strong>
        <label>@Model.name</label><br />
        <strong>Email</strong>
        <label>@Model.email</label>
        <hr />
        <strong class="text-success">
            Resting user Password
        </strong>
        <hr />
        <input type="hidden" name="id" value="@Model.id" />
        <label>Enter New Password</label>
        <input type="password" class="form-control" name="password" />
        <label>Re-Enter Password</label>
        <input type="password" class="form-control" name="cpassword" />
        <button class="btn btn-success">Reset Passeord</button>
    </form>*@

<form method="post" action="">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    @*<h4 class="card-title">Textual inputs</h4>
                        <p class="card-title-desc">
                            Here are examples of <code>.form-control</code> applied
                            to each textual HTML5 <code>&lt;input&gt;</code> <code>type</code>.
                        </p>*@
                    <div class="mb-12 row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Name :</label>
                        <div class="col-md-6">
                            <label for="example-text-input" class="col-md-4 col-form-label">@Model.name</label>
                        </div>
                    </div>

                    <div class="mb-12 row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Email :</label>
                        <div class="col-md-6">
                            <label for="example-text-input" class="col-md-4 col-form-label">@Model.email</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <strong class="text-success">
                                Resting Your Password
                            </strong>
                        </div>
                    </div>


                    <div class="mb-3 row">
                        <input type="hidden" name="id" value="@Model.id" />
                        <label for="example-text-input" class="col-md-2 col-form-label">Enter New Password</label>
                        <div class="col-md-10">
                            <input class="form-control" type="password" name="password" value="Artisanal kale"
                                   id="example-text-input">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="example-search-input" class="col-md-2 col-form-label">Re-Enter Password</label>
                        <div class="col-md-10">
                            <input class="form-control" type="password" name="cpassword" value="Artisanal kale"
                                   id="example-text-input">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">
                                Reset Password
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
</form>